<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <%= t.include("partials/_nav.html") %>
    <responsive-child>
    <br>
    <div id="title"><span class="hello">ELECTION</span> 2016</div>
    <p style="text-align: center">The Chronicle's voter guide presents the editorial board's recommendations for this fall. For The Chronicle's comprehensive election coverage, click <a href="http://sfchronicle.com/election/2016" target="_blank">here</a>.</p>

  <div class="cat-background">
    <h4 style="text-align: center; margin: 0; padding-top: 20px; font-family: AntennaBold">What are you looking for?</h4>
    <div id="categories">
    </div>
    <div id="clear"><i class="fa fa-undo" aria-hidden="true"></i> START OVER</div>
  </div>

    <div class="container" id="darea">
    </div>

    </responsive-child>
    <%= t.include("partials/_footer.html") %>

    <script>
      var raceData = <%= JSON.stringify(csv.data) %>;
      var buttonData = <%= JSON.stringify(csv.button_data) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
