<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>

  <body>

    <%= t.include("partials/_nav.html") %>
    <responsive-child>
    <br>
    <div id="title"><span class="hello">ELECTION</span> 2016</div>
    <p style="text-align: center">The Chronicle's voter guide presents the editorial board's recommendations for this fall. For comprehensive election coverage, click <a href="http://sfchronicle.com/election/2016" target="_blank">here</a>.</p>

  <div class="cat-background">
    <h4 style="text-align: center; margin: 0; padding-top: 20px; font-family: AntennaBold">What are you looking for?</h4>
    <div id="categories">
    </div>
  </div>

    <div class="container" id="darea">
    </div>

    <hr>

    <div class="creditcont">
      <div class="creditbox" id="separate"><span style="font-size: 12px; font-family: AntennaExtraLight; display: block">ENDORSEMENTS</span>San Francisco Chronicle<span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="mailto:letters@sfchronicle.com">letters@sfchronicle.com</a></span><span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="http://twitter.com/sfchronicle" target="_blank">@sfchronicle</a></span></div>
      <div class="creditbox"><span style="font-family: AntennaExtraLight; display: block; font-size: 12px">PRODUCER</span>Benjamin Din<span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a></span><span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="http://twitter.com/benjamindin" target="_blank">@benjamindin</a></span></div>
      <div class="creditbox"><span style="font-size: 12px; font-family: AntennaExtraLight; display: block">GRAPHICS</span>Todd Trumbull<span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="mailto:letters@sfchronicle.com">ttrumbull@sfchronicle.com</a></span><span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="http://twitter.com/sfchronicle" target="_blank">@sfchronicle</a></span></div>
    </div>

    </responsive-child>
    <%= t.include("partials/_footer.html") %>

    <script>
      var raceData = <%= JSON.stringify(json.VoterGuide2016_Endorsements) %>;
      var buttonData = <%= JSON.stringify(json.VoterGuide2016_Buttons) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
