<!doctype html>
<html>
  <head>
    <title>Voter Guide 2016: San Francisco Chronicle's election endorsements</title>
    <meta charset="utf-8">
    <meta name="__sync_contentCategory" content="free">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <script src="http://projects.sfchronicle.com/shared/js/jquery.min.js"></script>
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>

  <body>

    <%= t.include("partials/_nav.html") %>
    <br>
    <div class="banner"><img src="./assets/photos/banner.png">
    </div>
     <h1 id="title">Voter Guide</h1>
    <p class="deck">The Chronicle urges all eligible voters to take part in the Nov. 8 election. For your consideration before you fill out your ballot, here are the recommendations of The Chronicle Editorial Board. Find comprehensive campaign and election coverage at our <a href="http://sfchronicle.com/election/2016" target="_blank">Election 2016</a> page. For details on how and where to vote, see the state's <a href="http://www.sos.ca.gov/elections/where-and-how/" target="_blank">website</a>.<br>To print this guide, click <a href="http://projects.sfchronicle.com/2016/voter-guide/assets/election_guide.pdf" target="_blank">here</a>.
  <div class="cat-background">
    <h4 style="text-align: center; margin: 0; padding-top: 20px; font-family: AntennaBold">What are you looking for?</h4>
    <div id="categories">
    </div>
  </div>

    <div class="container display-flex flex-wrap" id="darea">
    </div>


    <div class="creditcont">
      <div class="creditbox" id="separate"><span style="font-size: 12px; font-family: AntennaExtraLight; display: block">Endorsements</span>San Francisco Chronicle<span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="mailto:letters@sfchronicle.com">letters@sfchronicle.com</a></span><span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="http://twitter.com/sfchronicle" target="_blank">@sfchronicle</a></span></div>

      <div class="creditbox"><span style="font-family: AntennaExtraLight; display: block; font-size: 12px">Developer</span>Lucio Villa <span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a></span><span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="http://twitter.com/luciovilla" target="_blank">@luciovilla</a></span></div>

      <div class="creditbox"><span style="font-family: AntennaExtraLight; display: block; font-size: 12px">Developer</span>Benjamin Din<span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="mailto:benjamin.din@gmail.com">benjamin.din@gmail.com</a></span><span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="http://twitter.com/benjamindin" target="_blank">@benjamindin</a></span></div>

      <div class="creditbox"><span style="font-size: 12px; font-family: AntennaExtraLight; display: block">Graphics</span>Todd Trumbull<span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="mailto:letters@sfchronicle.com">ttrumbull@sfchronicle.com</a></span><span style="font-size: 13px; font-family: AntennaExtraLight; display: block"><a href="http://twitter.com/sfchronicle" target="_blank">@sfchronicle</a></span></div>

      <div class="creditbox"><span style="font-family: AntennaExtraLight; display: block; font-size: 12px">Senior Online Producer</span>Rich Pestorich <span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="mailto:rpestorich@sfchronicle.com">rpestorich@sfchronicle.com</a></span><span style="font-family: AntennaExtraLight; display: block; font-size: 13px"><a href="http://twitter.com/richpest" target="_blank">@richpest</a></span></div>
    </div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var raceData = <%= JSON.stringify(json.VoterGuide2016_Endorsements) %>;
      var buttonData = <%= JSON.stringify(json.VoterGuide2016_Buttons) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
